.link-activo {
  color: red;
}

.header {
  grid-area: "header";
  background-image: url("/assets/img/programacion.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
  transition: all ease 0.5s;
  width: auto;
  height: 100vh;
}
.header .header__nav {
  width: 100%;
  z-index: 3;
  position: fixed;
  background-color: #1a1a1a;
  display: grid;
  justify-content: start;
}
.header .header__nav nav a i {
  color: #0084FF;
  font-size: 2rem;
}
.header .header__nav nav a span {
  font-size: 2.5rem;
  color: white;
  font-family: "VT323";
}
.header .header__nav nav ul li a {
  color: white;
}
.header .header__profile {
  margin-top: 8rem;
  display: grid;
  grid-template-rows: repeat(1, 1);
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.header .header__profile picture img {
  width: 14rem;
  height: 14rem;
  border-radius: 7rem;
  border: solid 0.3rem white;
}
.header .header__profile .header__profile__title {
  display: flex;
  flex-direction: column;
  wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.header .header__profile .header__profile__title span {
  font-size: 3rem;
  color: white;
  font-family: "VT323";
}
.header .header__profile .header__profile__title h1 {
  font-size: 3.5rem;
  color: #0084FF;
  font-family: "DynaPuff", cursive;
  font-weight: bold;
}

.main {
  grid-area: "main";
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(1, 1fr);
  gap: 0rem;
  justify-items: center;
}
.main .main__profile {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.main .main__profile #sobre {
  justify-self: center;
  width: 80%;
}
.main .main__profile #habilidades {
  justify-self: center;
}
.main .main__profile #habilidades .habilidades__item {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.main .main__profile #habilidades .habilidades__item div {
  display: flex;
  flex-direction: column;
}
.main .main__profile #habilidades .habilidades__item div .fa-html5 {
  color: orange;
  font-size: 3rem;
}
.main .main__profile #habilidades .habilidades__item div .fa-sass {
  color: rgb(219, 42, 187);
  font-size: 3rem;
}
.main .main__profile #habilidades .habilidades__item div .fa-bootstrap {
  color: rgb(133, 5, 158);
  font-size: 3rem;
}
.main .main__profile #habilidades .habilidades__item div .fa-js {
  color: rgb(175, 175, 47);
  font-size: 3rem;
}
.main .main__profile #habilidades .habilidades__item div .fa-php {
  color: violet;
  font-size: 3rem;
}
.main .main__profile #habilidades .habilidades__item div .fa-laravel {
  color: rgb(170, 98, 98);
  font-size: 3rem;
}
.main .main__profile #habilidades .habilidades__item div .fa-square-git {
  color: black;
  font-size: 3rem;
}
.main .main__profile #habilidades .habilidades__item div .fa-github {
  color: black;
  font-size: 3rem;
}
.main .main__working {
  margin-top: 4rem;
  width: 80%;
}
.main .main__working #servicios .servicios__item {
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.main .main__working #portafolio .portafolio__item {
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.main .main__working #contacto {
  margin-top: 3rem;
}
.main .main__working #contacto .contacto__item {
  margin-top: 3rem;
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer {
  grid-area: "footer";
  display: grid;
  justify-content: center;
  background-color: #1a1a1a;
  width: 100%;
  height: auto;
}
.footer div p {
  font-size: 1rem;
  color: white;
  font-family: "Bree Serif", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
