$white:#FFFF;
$black-sure:#1a1a1a;
$blue:#0084FF;
$gray:#212F3C;
$green:#04BB87;

$text-pixel: 'VT323', monospace;
$h1-title: 'DynaPuff', cursive;
$h2-title:'Lobster', cursive;
$h3-title:'Bree Serif', serif;
$h5-title:'Open Sans', sans-serif;
$p:'Open Sans', sans-serif;
$strong:'Dancing Script', cursive;
$text-cuerpo:'Bree Serif', serif;