@import "vars";
@import "mixins";
@import "extends";
@import "header";
@import "main";
@import "footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
                         
    @include size(100%,auto);
}